# Backend
PORT=3000

# Database
# PostgreSQL credentials must match docker-compose.yml
DATABASE_URL=postgresql://your-user:your-password@localhost:5432/notanothercards

# Better Auth
# generate a secret with: openssl rand -base64 32
BETTER_AUTH_SECRET=your-secret
BETTER_AUTH_URL=http://localhost:3000

# CORS & Frontend
FRONTEND_URL=http://localhost:5173
